<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Status</th>
        <%@projects.each do |project|%>
			   <th><strong><%= project.name%></strong></th>
        <%end%>
        
      </tr>
    </thead>
    <tbody>
   <%# @todos.statuses.each do |status|%>
       <tr class="active">
        <td><h3>In Progress</h3></td>
        <% @projects.each do |project|%>
        		<td><% project.todos.each do |todo|%>
					    <%if todo.status == "In_Progress" && project.id == todo.project_id%>
                <ul>
                  <li><mark><%=todo.name%></mark> | <%= todo.users_todo.user.name%></li>
                </ul>
                
              <%end%>
        		<%end%></td>
        	<%end%>
        
       </tr>
       <tr class="info">
        <td><h3>Done</h3></td>
          <% @projects.each do |project|%>
        		<td><% project.todos.each do |todo|%>
        			<%if todo.status == "Done" && project.id == todo.project_id%>
                <ul>
                  <li><mark><%=todo.name%></mark> | <%= todo.users_todo.user.name%></li>
                </ul>
					    <%end%>
        		<%end%></td> 
        	<%end%>
              	
       </tr>
       <tr class="danger">
        <td><h3>New</h3></td>
        <% @projects.each do |project|%>
        		<td><% project.todos.each do |todo|%>
					    <%if todo.status == "New" && project.id == todo.project_id%>
                <ul>
                  <li><mark><%=todo.name%></mark> | <%= todo.users_todo.user.name%></li>
                </ul>              
              <%end%>
        		<%end%></td> 
        	<%end%>
              	
       </tr>
    </tbody>
  </table>
  </div>