<table class="table table-striped">
    <thead>
      <tr>
        <th>Status</th>
        <%@projects.each do |project|%>
			<th><%= project.name%></th>
        <%end%>
        
      </tr>
    </thead>
    <tbody>
   <%# @todos.statuses.each do |status|%>
       <tr>
        <td>In Progress</td>
        <% @projects.each do |project|%>
        		<td><% project.todos.each do |todo|%>
					    <%if todo.status == "In_Progress" && project.id == todo.project_id%>
                <%#= raise todo.inspect%>
                <li><%=todo.name%> | <%= todo.users_todo.user.name%></li>
              <%end%>
        		<%end%></td>
        	<%end%>
        
       </tr>
       <tr>
        <td>Done</td>
          <% @projects.each do |project|%>
        		<td><% project.todos.each do |todo|%>
        			<%if todo.status == "Done" && project.id == todo.project_id%>
						    <li><%=todo.name%>  | <%= todo.users_todo.user.name%></li>
					    <%end%>
        		<%end%></td> 
        	<%end%>
              	
       </tr>
       <tr>
        <td>New</td>
        <% @projects.each do |project|%>
        		<td><% project.todos.each do |todo|%>
					    <%if todo.status == "New" && project.id == todo.project_id%>
                <li><%=todo.name%>  | <%= todo.users_todo.user.name%></li>
              <%end%>
        		<%end%></td> 
        	<%end%>
              	
       </tr>
    </tbody>
  </table>